DirectoryIndex /index/index.php

RewriteEngine On 
RewriteRule ^sitemap.xml$ /sitemap.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ /gif/gif.php?category=$1&url=$2 [L]

RewriteRule ^category/([A-Za-z0-9-]+)/?$ /gif/category.php?url=$1 [L]

RewriteRule ^upcategory/([A-Za-z0-9-]+)/?$ /gif/upcategory.php?url=$1 [L]

RewriteRule ^amp/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ /amp/gif.php?category=$1&url=$2 [L]

RewriteRule ^amp/category/([A-Za-z0-9-]+)/?$ /amp/category.php?url=$1 [L]

RewriteRule ^amp/upcategory/([A-Za-z0-9-]+)/?$ /amp/upcategory.php?url=$1 [L]

RewriteRule ^post-comment/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ /gif/gif.php?url=$2&comment=success [L]

RewriteRule ^vote/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ /gif/gif.php?url=$2&vote=success [L]

RewriteRule ^voted/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ /gif/gif.php?url=$2&vote=voted [L]

RewriteRule ^add/$ /gif/add.php [L]